numpy>=1.22.2
mmengine>=0.8.0
flask
pillow
pycocotools
num2words
torch>=2.0.0
scipy>=1.6.3
torch-fidelity==0.3.0
opencv_python==4.8.0.74
easydict
pandas
datasets
word2number
pyiqa
tenacity
decord
tenacity
openai
dashscope
av
openai
accelerate
latex2sympy
/share/projset/dist/t2v_metrics-0.0.0-py3-none-any.whl